

.navmenu a{
    font: bold 13px Verdana; /*Шрифт текста*/
    /*padding: 5px; /*Внутренний отсутп текста ссылки от краев ячейки*/
    display: block;
    width: 100%; /*Ширина ячейки*/
    color: #000000;  /*Цвет текста*/
    text-decoration: none; /*Подчеркивание у ссылок - нет*/
    border-bottom: 2px solid #fffbf9;
}

.navmenu a:hover{
    background-color: #bfccd6; /*Фоновый цвет ячейки при наведение курсора*/
    color: #000000;}/*Цвет текста при наведении курсора*/

/*
#content{
    display: block;
    background-color: aliceblue;

}*/

table.messages
{
    font: bold 13px Verdana; /*Шрифт текста*/
    border-collapse: collapse;


   /* width: 100%; /*Ширина ячейки*//

   /* color: #ff4051;  /*Цвет текста*/


   border-color: 1px solid black;
   /*// margin-top:50px;*/
}
table.messages td {
    border: 1px solid black;
}

table.messages tr td a{
    text-decoration: none; /*Подчеркивание у ссылок - нет*/
}
table.messages tr:hover{
    background-color: #8dacd6; /*Фоновый цвет ячейки при наведение курсора*/
 /* color: #000000;*/
}/*Цвет текста при наведении курсора*/

.error_form{

    background-color: red;
}







